@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pacifico&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
.logo-text {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  color: #49557E;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
}
.logo-text:hover {
  transform: scale(1.05);
}
.logo-text span {
  color: #FF4C24;
}
body{
  min-height: 100vh;
  background-color: #FCFCFC;
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: #A9A9A9;
}
.app-content{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor{
  cursor: pointer;
}